@import "~cube-ui/src/common/stylus/mixin.styl"

// 设置html，body的默认样式
html,body 
    line-height 1
    font-weight 200
    font-family 'PingFang SC', 'STHeitiSC-Light','Helvetica-Light',Arial, sans-serif
5
border-1px($color)
    position relative
    &:after
        display block
        position absolute
        left 0
        bottom 0
        width 100%
        border-top 1px solid $color
        content: ''
// 清除border-1px
border-none()
    &:after
        display none
// 判断dpr值为多少，选择相对应的图片

bg-image($url)
    background-image:  url($url + "@2x.png")
    @media (-webkit-min-device-pixel-ratio:3),(min-device-pixel-ratio:3)
        background-image: url($url + "@3x.png")